* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: solid 1px black; */
  /* background-color: #020ef833; */
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* ----------- */

.section-welcome {
  background-image: url(../img/index-bg-1-1.png);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  height: 30rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.welcome-words-container {
  float: right;
  margin-top: 7rem;
  margin-right: 10%;
  margin-left: 50%;
  /* width: 30rem; */
}

.welcome-words-container > h3 {
  font-size: 2rem;
  color: #471e22;
}

.welcome-words-container > p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #533b2f;
}

.welcome-words-container > a {
  text-align: center;
  width: 25%;
  border-radius: 10px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: #b77e66;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 900;
  float: right;
}

/* ----------- */

.section-openinghour {
  display: flex;
  align-items: center;
  background-image: url(../img/index-bg-2.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  height: 18rem;
  flex-wrap: wrap;
}

.section-openinghour > h1 {
  color: white;
  font-size: 3rem;
  position: relative;
  padding: 1rem 1.5rem 1rem 1.5rem;
  z-index: 1;
}

.section-openinghour > h1::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #221b18;
  opacity: 0.6;
  z-index: -1;
}

.openinghour-words-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 3rem;
}

.openinghour-words-container > div > h3,
.openinghour-words-container > div > p {
  color: white;
  font-size: 1.5rem;
}

/* ----------- */

.section-ourmenu {
  background-image: url(../img/index-bg-3.png);
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-ourmenu > h1 {
  color: #903711;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.section-ourmenu > h2 {
  color: #9e5a3d;
  width: 100%;
  text-decoration: underline;
  padding-left: 21%;
}

.ourmenu-words-container {
  display: flex;
  height: 80%;
  gap: 1rem;

  overflow-x: scroll;

  justify-content: space-between;
  gap: 10px;
  flex-wrap: nowrap;
}
/* remove the scrollbar */
.ourmenu-words-container::-webkit-scrollbar {
  display: none;
}

.ourmenu-words-wrap {
  display: flex;
  /* width: calc(288px * 4 + 10px * 3); */
  width: 79%;
  align-items: center;
  justify-content: center;
  margin: 1% auto;
  position: relative;
}

/* control button */
#backBtn,
#nextBtn {
  width: 50px;
  cursor: pointer;
  margin: 20px;
  position: absolute;
}

#nextBtn {
  right: -80px;
}

#backBtn {
  left: -80px;
}

#backBtn:hover,
#nextBtn:hover {
  transform: scale(1.1);
}

.ourmenu-coffee {
  width: 15%;
  min-width: 18rem;
  background-color: rgba(115, 74, 57, 0.8);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 0.5rem;
}

.ourmenu-coffee > img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  transition: transform 0, 5s;
}

.ourmenu-coffee > img:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.ourmenu-coffee > h3 {
  width: 100%;
  text-align: left;
}

.ourmenu-coffee > p {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  color: #fffada;
  font-weight: 100;
  margin-bottom: 20px;
}

.ourmenu-price-button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.ourmenu-price-button-container > h4 {
  font-weight: 900;
}

.ourmenu-price-button-container > a {
  text-decoration: none;
  color: white;
  background-color: #a0583c;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(0, 0, 0, 0.1);
}

/* ----------- */

.section-customers {
  background-image: url(../img/index-bg-4.png);
  background-size: cover;
  background-position: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  gap: 1rem;
  height: 450px;
}

.section-customers > h1 {
  width: 100%;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 3rem;
}

.customers-word-container {
  background-color: rgba(88, 49, 21, 0.57);
  width: 15%;
  min-width: 10rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(155, 155, 155, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  position: relative;
  padding: 2.5rem 2rem 1rem 2rem;
}

.customer-portrait {
  width: 4rem;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%) translateY(-50%);
}

.customer-stars {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.customer-stars > img {
  width: 12px;
}

.customers-word-container > h3 {
  color: white;
  font-size: 1.5rem;
}

.customer-review {
  color: #d3cece;
}

.customer-name {
  color: #54dd8b;
}

.customer-time {
  color: #d3cece;
}

/* ----------- */

.section-map {
  background-color: #e3d9d5;
  height: 30rem;
  padding: 20px;
}

.googlemap {
  border: solid 10px rgba(88, 49, 21, 0.57);
}
